h1{
    font-size:22px;
    margin: 10px;
    font-family: sans-serif;
    color: rgba(104, 104, 188, 0.815);
    text-align: center;
    font-weight: 600;
}
.container__proveedor{
        margin-top: 40px !important;
        display: flex;
      
        flex-wrap: wrap;
        justify-content: space-around;


    }
    .tr__title{
        color: rgb(141, 127, 229);
        text-align: center;
        width: 160px !important;
        font-size: 14px !important;
        margin-left: 8px !important;
        
      }
    .form-control{
        margin-top: 3px;
        border-radius: 6px;
        width: 310px !important;
    }
    .add__proveedor{
        margin-bottom: 40px !important;
         
    }

    .title__proveedor{
        font-size:17px;
        color: rgba(144, 154, 176, 0.454);
        font-weight: 600;
        text-align: center;
    }

    .form-select{
        border-radius: 6px;
        margin: 3px !important;
        margin-left: -0px !important;
    }
    
    .float__button{
        margin-top: 10px;
        background-color: blue;
        width: 60px;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 100%;
        animation: floatbutt .1s  linear;
        text-align: center;
      }
      .float__buttonred{
        margin-top: 10px;
        background-color: rgb(255, 0, 81);
        width: 60px;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 100%;
        animation: floatbutt .1s  linear;
        text-align: center;
      }
      @keyframes floatbutt {
            from{
                transform: scale(.5);
                opacity: .4;
            }
            to{
                transform: scale(1);
                opacity: 1;
            }
      }
      .float__button:hover{
        background-color: darkblue;
        transition: .4s;
      }

      .search__proveedores{
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
      }
      .search__proveedores input{
        width: 510px;
        padding: 8px;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;

    }