<div class="alert alert-danger animate" role="alert" *ngIf="isAlertRemovedActive">
  Proveedor eliminado correctamente!
</div>

<div class="float__button" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img src="../../../assets/baseline_add_white_24dp.png" alt="add button">
</div>

<h1 class="animate">Gestion de proveedores</h1>



 
 <div class="search__proveedores animate">
    <input #searchProv   [(ngModel)]="datasearch"  type="search" placeholder="Buscar proveedor">
 </div>
 <br>
 <div class="d-flex justify-content-center animate" *ngIf="isLoadCards==true">
   <div class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
   </div>
 </div>
<section class="container__proveedor animate" *ngIf="!isLoadCards">
  
      
    <article class="add__proveedor">
         <h2 class="title__proveedor">Proveedores</h2>
        <table class="table table-striped table-hover" >
            <thead class="table-secondary" >  
              <tr>
               
                <th scope="col" class="tr__title">NOMBRE</th>
                <th scope="col" class="tr__title">TIPO</th>
                <th scope="col" class="tr__title">CEDULA</th>
                <th scope="col" class="tr__title">BALANCE</th>
                <th scope="col" class="tr__title">CUENTA CONTABLE</th>
                <th scope="col" class="tr__title">ESTADO</th> 
                
              </tr>
            </thead>
            <tbody>
                
           
              <tr   class="table__tr__proveeedor animate" *ngFor="let prov of allProveedores| searchFilter:datasearch " 
              style="cursor: pointer; text-align: center !important;" 
              (click)="openUpdateProv(prov)" data-bs-toggle="modal" data-bs-target="#exampleModalUpdate">
              
                <td>{{ prov.nombre }}</td>
                <td>{{ prov.tipo }}</td>
                <td>{{ prov.cedula }}</td>
                <td>{{ prov.balance | number }}</td>
                <td>{{ prov.cuentaContable }}</td>
                <td>{{ prov.estado == "A"? "Activo":"Inactivo"}}</td>
                
              </tr>
               
            </tbody>
          </table>
    </article>

</section>

<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >

    

    <div class="modal-content animate"  >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo proveedor</h1>
        
      </div>
      <div class="modal-body ">

        <div class="alert alert-primary animate" role="alert" *ngIf="isAlertAddActive">
          Se ha agregado un proveedor exitosamente!
        </div>


        <div class="alert alert-danger animate" role="alert" *ngIf="isAlertNotAddActive">
          Rellene todos los campos correctamente
        </div>

        <form  >
          <div class="mb-2" style="width: 280px !important;">
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Nombre</label>
            <input [(ngModel)]="nombre" class="form-control form-control-sm" name="nombre" type="text" placeholder="NOMBRE" [ngModelOptions]="{standalone: true}"   style="margin-left: 50px !important;">
            
          </div>
          <div class="mb-2">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Tipo</label>
  
            <select  [(ngModel)]="tipo"  class="form-select form-control form-select-sm mb-3"  style="margin-left: 50px !important;" [ngModelOptions]="{standalone: true}"> 
              <option value="Fisico">Fisico</option>
              <option value="Juridico"  >Juridico</option> 
            </select>
          </div>
           

          <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Cedula</label>
            <input  [(ngModel)]="cedula" name="cedula" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"  type="text" placeholder="CEDULA" style="margin-left: 50px !important;"> 
          </div>

          <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Balance</label>
            <input  [(ngModel)]="balance" name="balance" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"  type="text" placeholder="BALANCE" style="margin-left: 50px !important;"> 
          </div>


          <!-- <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Cuenta contable</label>
            <input [(ngModel)]="cuentaContable"  [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" type="number" style="margin-left: 50px !important;" placeholder="CUENTA CONTABLE" >
          </div> -->

  
        </form>
      </div>
      <div >

        <div class="btn-group " role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProv()" >Eliminar</button> -->
          <button type="button" class="btn btn-success" (click)="setProveedor()">Nuevo</button>
        </div>
        
        
      </div>
      <br>
    </div> 
  </div>
</div>




 <!-- update -->


 <div class="modal fade"  id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >

    

    <div class="modal-content animate"  >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar proveedor  </h1>
        <strong class="badge bg-success text-wrap" style="width: 7rem;">
          <div  >
            {{cedulaUpdate}}
          </div>
         </strong>
        
      </div>
      <div class="modal-body ">

        <div class="alert alert-primary animate" role="alert" *ngIf="isAlertAddUpdateActive">
          Proveedor actualizado exitosamente!
        </div>


        <div class="alert alert-danger animate" role="alert" *ngIf="isAlertNotAddUpdateActive">
          Rellene todos los campos correctamente
        </div>

        <form  >
          <div class="mb-2" style="width: 280px !important;">
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Nombre</label>
            <input [(ngModel)]="nombreUpdate" class="form-control form-control-sm" name="nombre" type="text" placeholder="NOMBRE" [ngModelOptions]="{standalone: true}"   style="margin-left: 50px !important;">
            
          </div>
          <div class="mb-2">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Tipo</label>
  
            <select  [(ngModel)]="tipoUpdate"  class="form-select form-control form-select-sm mb-3"  style="margin-left: 50px !important;" [ngModelOptions]="{standalone: true}"> 
              <option value="Fisico">Fisico</option>
              <option value="Juridico"  >Juridico</option> 
            </select>
          </div>
           

          <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Cedula</label>
            <input  [(ngModel)]="cedulaUpdate" name="cedulaUpdate" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"  type="text" placeholder="CEDULA" style="margin-left: 50px !important;"> 
          </div>

          <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Balance</label>
            <input  [(ngModel)]="balanceUpdate" name="balance" class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"  type="text" placeholder="BALANCE" style="margin-left: 50px !important;"> 
          </div>


          <!-- <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Cuenta contable</label>
            <input [(ngModel)]="cuentaContableUpdate"  [ngModelOptions]="{standalone: true}"  class="form-control form-control-sm" type="number" style="margin-left: 50px !important;" placeholder="CUENTA CONTABLE" >
          </div> -->


          <div class="mb-2"  >
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Estado</label>
        
            <select  [(ngModel)]="estadoUpdate"  class="form-select form-control form-select-sm mb-3"  style="margin-left: 50px !important;" [ngModelOptions]="{standalone: true}"> 
              <option value="A">Activo</option>
              <option value="I"  >Inactivo</option> 
            </select>
          </div>

  
        </form>
      </div>
      <div >
        
       

        <div class="btn-group " role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalAlertDelete"  >Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="updateProv()">Actualizar</button>
        </div>
      </div>

      <style>
        .btn-group{
          padding:  0 10px 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
      <br>
    </div> 
  </div>
</div>


<!-- delete alert modal -->
<div class="modal animate" tabindex="-1" id="exampleModalAlertDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> ¿Realmente deseas eliminar este proveedor?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProv()">Eliminar</button>
      </div>
    </div>
  </div>
</div>