<div class="alert alert-primary animate" role="alert" *ngIf="isAlertAddActive">
  Se ha agregado una nueva solicitud!
</div>

<div class="float__button"   data-bs-toggle="modal" data-bs-target="#exampleModalNew">
  <img src="../../../assets/baseline_add_white_24dp.png" alt="add button">
</div>



<h1 class="animate">Registro de solicitud de cheques</h1>

 
<div class="search__proveedores animate">
  <input  type="search" placeholder="Cedula del proveedor" [(ngModel)]="datasearch">
</div>

<br>

<h2 class="title__proveedor animate">Solicitudes</h2>
<br>
<div class="d-flex justify-content-center animate" *ngIf="isLoadCards==true">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
 


<section class="container__cards"  *ngIf="!isLoadCards">




  <article class="card__solicitud animate" *ngFor="let sol of allSolicitudes | searchSolic:datasearch" (click)="openUpdateSolic(sol)" data-bs-toggle="modal" data-bs-target="#exampleModalUpdate">
    <div class="card__title ">{{sol.proveedorNombre}}

      <strong class="badge bg-secondary text-wrap" *ngIf="sol.estado=='P'" style="width: 6rem;">
        <div > Pendiente </div>
       </strong>

       <strong class="badge bg-danger text-wrap" *ngIf="sol.estado=='A'"  style="width: 6rem;">
        <div > Anulado </div> 
       </strong>

       <strong class="badge bg-success text-wrap" *ngIf="sol.estado=='G'"  style="width: 6rem;">
        <div > Generado </div> 
       </strong>
    </div>
     
      <div class="content__card__solicitud">
        <p class="content__card__solicitud__title">No. Solicitud</p>
        <p class="content__card__solicitud__value">  {{sol.numeroSolicitud}}</p>
      </div>
      
     
      <div class="content__card__solicitud">
        <p class="content__card__solicitud__title">Monto</p>
        <p class="content__card__solicitud__value">${{sol.monto|number}}</p>
      </div>

      <div class="content__card__solicitud">
        <p class="content__card__solicitud__title">Cuenta contable</p>
        <p class="content__card__solicitud__value">{{sol.cContableProveedor}}</p>
      </div>

      <div class="content__card__solicitud">
        <p class="content__card__solicitud__title">Fecha registro</p>
        <p class="content__card__solicitud__value">{{sol.fechaRegistro | date}}</p>
      </div>
 
 
  </article>

</section>

 

<!-- new  solic -->



<div class="modal fade"  id="exampleModalNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog"  >

    

    <div class="modal-content animate"  >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de solicitud</h1>
        
        <strong class="badge bg-secondary text-wrap" style="width: 3rem; cursor: pointer;" (click)="clearVerifiedAndCreateProveedor()">
          <span class="badge bg-secondary renewSolic" (click)="clearVerifiedAndCreateProveedor()">
            <img src="../../../assets/baseline_add_white_24dp.png" alt="add button">   </span> 
         </strong>

      </div>
      <div class="modal-body ">
        <form>
            

          <div class="alert alert-primary animate" role="alert" *ngIf="isProveedorFindedByCedula" >
            Proveedor no encontrado
        </div> 
        
          <div class="mb-4 animate" style="width: 300px !important;" *ngIf="proveedorByCedulaFinded[0]==null">
            <label for="recipient-name" class="col-form-label" style="margin-left: 70px !important;">Cedula</label>
            <input [(ngModel)]="cedulaVerified" class="form-control form-control-sm" placeholder="Cedula proveedor" name="nombre" type="text"  style="margin-left: 50px !important;">
          </div>
          <div class="d-grid gap-1" *ngIf="proveedorByCedulaFinded[0]==null">
            <button type="button" class="btn btn-light btn-sm" (click)="verifiedProveedor()" >Verificar</button>
           
          </div>
          <!-- proveedor finded -->
          <div *ngIf="proveedorByCedulaFinded[0]!=null" class="animate">

            <div class="mb-2" style="width: 280px !important;">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Nombre</label>
              <input [(ngModel)]="dataNew.proveedorNombre" class="form-control form-control-sm" [value]="dataNew.proveedorNombre"  disabled name="nombreProv" type="text" placeholder="NOMBRE"   style="margin-left: 50px !important;">
            </div>

            <div class="mb-2" style="width: 280px !important;">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Balance disponible</label>
              <input [(ngModel)]="dataNew.balance" class="form-control form-control-sm" [value]="dataNew.balance" disabled name="nombre" type="number" placeholder="balance"   style="margin-left: 50px !important;">
            </div>

            <div style="margin-left: 50px;" class="animate" *ngIf="newMountForNewSolic>dataNew.balance">
              <strong  style="width: 10rem;" >
                <div class="badge bg-danger text-wrap "> Monto sobrepasa la cantidad existente  </div>
               </strong>
            </div>

              <div style="margin-left: 50px;" class="animate" *ngIf="newMountForNewSolic  < 0">
              <strong  style="width: 10rem;" >
                <div class="badge bg-danger text-wrap "> No se aceptan montos en negativo  </div>
               </strong>
            </div>  
            <div class="mb-2" style="width: 280px !important;">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">MONTO</label>
              <input [(ngModel)]="newMountForNewSolic"  [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" name="nombre" type="number" placeholder="MONTO" [value]="newMountForNewSolic"  style="margin-left: 50px !important;">
            </div> 


            <div class="mb-2" style="width: 280px !important;">
              <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Cuenta contable</label>
              <input [(ngModel)]="dataNew.cContableProveedor" class="form-control form-control-sm" name="nombre" type="number" disabled placeholder="MONTO" [value]="dataNew.cContableProveedor"  [ngModelOptions]="{standalone: true}" style="margin-left: 50px !important;">
            </div>
 
          </div>
           
        </form>
      </div>
      <div >
         
        <div class="d-grid gap-1" >
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" [disabled]="newMountForNewSolic>dataNew.balance ||newMountForNewSolic<1 || dataNew.balance<1 || newMountForNewSolic  < 0" *ngIf="proveedorByCedulaFinded[0]" (click)="setSolicitud()">Registrar solicitud</button>
          <!-- <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button> -->
        </div>
      </div>
 
      <br>
    </div> 
  </div>
</div>





<!-- update solic -->



<div class="modal fade"  id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >

    

    <div class="modal-content animate"  >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar solicitud</h1>
        <strong class="badge bg-success text-wrap" style="width: 7rem;">
          <div  > {{dataUpdate.numeroSolicitud}} </div>
         </strong>
        
      </div>
      <div class="modal-body ">

        <!-- <div class="alert alert-primary animate" role="alert" *ngIf="isAlertAddUpdateActive">
          Proveedor actualizado exitosamente!
        </div>


        <div class="alert alert-danger animate" role="alert" *ngIf="isAlertNotAddUpdateActive">
          Rellene todos los campos correctamente
        </div> -->

        <form  >
          <div class="alert alert-primary animate" role="alert"  >
            Se ha agregado un proveedor exitosamente!
          </div>
          <div class="mb-2" style="width: 280px !important;">
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Nombre proveedor</label>
            <input  class="form-control form-control-sm" name="nombre" type="text" disabled [value]="dataUpdate.proveedorNombre"  style="margin-left: 50px !important;">
          </div>


          <div class="mb-2" style="width: 280px !important;">
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">MONTO</label>
            <input  class="form-control form-control-sm" name="nombre" type="number" placeholder="MONTO" [value]="dataUpdate.monto"  style="margin-left: 50px !important;">
          </div>
           
          <div class="mb-2">
            <label for="recipient-name" class="col-form-label" style="margin-left: 50px !important;">Tipo</label>
            {{dataUpdate.estado}}
          <select  [(ngModel)]="dataUpdate.estado"  class="form-select form-control form-select-sm mb-3"  style="margin-left: 50px !important;" [ngModelOptions]="{standalone: true}"> 
            <option value="P">Pendiente</option>
            <option value="A"  >Anular</option> 
            <option value="G"  selected>Generar cheque</option> 
          </select>
        </div>
          <!-- [ngModelOptions]="{standalone: true}"  -->
          

  
        </form>
      </div>
      <div >
        
       

        <div class="d-grid gap-1">
          <button type="button" class="btn btn-primary"  >Actualizar</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button>
        </div>
      </div>

      <style>
        .gap-1 {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .gap-1 button{
          padding:  0 10px 0 10px;
          padding: 4px;
          width: 300px;
         
        }
      </style>
      <br>
    </div> 
  </div>
</div>